@import url('https://fonts.googleapis.com/css?family=Karla:400,400i');

.form {
    margin: 3rem 0;
}

.form-input{
    outline: none;
    border: none;
    padding: 1rem 2rem;
    background: transparent;
    font-size: 48px;
    border-bottom: 4px solid #e9abb6;
    margin-right:16px;
    color: #e9abb6;
    font-family: 'Karla', sans-serif;
}

.button {
    outline: none;
    border: none;
    border-radius:4px;
    padding: 1rem 2rem;
    background: #e9abb6;
    font-size: 48px;
    color: #fff;
    font-family: 'Karla', sans-serif;
    font-style: italic;
    text-transform: uppercase;
    font-weight: lighter;
    box-sizing: border-box;
    border: 5px solid transparent;
}

.button:focus, .button:hover{
    border-color: pink;
}