@import url('https://fonts.googleapis.com/css?family=Karla:400,400i');

body {
    font-size:18px;
    color: grey;
    font-family: 'Karla', sans-serif;
    background: -moz-linear-gradient(left, rgba(244,242,255,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(244,242,255,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(244,242,255,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f2ff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
}

h1 {
    font-weight: 100;
}

.header {
    font-style: italic;
    text-transform: uppercase;
    color: #bd91cc;
}

.footer {
    color: #cfcfcf;
}

/*Flexbox utils*/

.flex {
  display: flex;
}

.justify-center {
    justify-content: center
}

.self-center {
    align-self: center
}